// 
// Product Details
//

$c2-product-detail-qty-font-weight:     $font-weight-bold;
$c2-product-detail-qty-margin-bottom:   map-get($spacers, 4);

$c2-product-tabs-link-padding-y:        0.8rem;
$c2-product-tabs-display-bp:            'lg';

$c2-product-gallery-num-of-thumbnails:  4;

$c2-product-collapse-transition:        0.3s ease-in-out;

.c2-product-detail {
  &__buy-form {
    .BuyFormFieldName:first-child, .BuyFormPrice {
      display: none;
    }

    .c2ecbuyfrm {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }

    .PDOT {
      display: none;
    }

    .BuyFormFieldName {
      font-weight: $c2-product-detail-qty-font-weight;
      margin-right: map-get($spacers, 2);
    }

    .BuyFormFieldName, .BuyFormQty {
      margin-bottom: $c2-product-detail-qty-margin-bottom;
    }

    .BuyFormBtn {
      display: flex;
    }
  }

   &__accessories {
     .BuyFormQty, .BuyFormFieldName, .BuyFormPrice {
       display: none;
     }
   }

  .c2-product-tabs {
    .nav-item {
      flex: 1 1 0px;
    }
    .nav-link {
      font-family: var(--font-family-heading);
      padding-top: $c2-product-tabs-link-padding-y;
      padding-bottom: $c2-product-tabs-link-padding-y;
    }
  }

  .c2-product-collapse {
    .btn-chevron {
      transition: transform $c2-product-collapse-transition;
    }
    .card-header .btn:not(.collapsed) .btn-chevron {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.c2-product-gallery {
  &__thumbnails {
    > *:nth-of-type(#{$c2-product-gallery-num-of-thumbnails}) {
      margin-right: 0!important; // Used to Override Bootstrap Utils
    }
    > *:nth-of-type(#{$c2-product-gallery-num-of-thumbnails}) ~ * {
      display: none;
    }
  }
}
