// 
// Product Details
//

$c2-product-detail-price-container-border-colour: $light;

$c2-product-detail-buy-button-margin-right:       map-get($spacers, 3);

$c2-product-detail-qty-font-weight:               $font-weight-bold;
$c2-product-detail-qty-margin-bottom:             map-get($spacers, 4);

$c2-product-tabs-link-padding-y:                  0.8rem;

$c2-product-gallery-num-of-thumbnails:            4;

$c2-product-collapse-transition:                  0.3s ease-in-out;

.c2-product-detail {
  &__product-price-container {
    @include media-breakpoint-up(sm) {
      border-right: 1px solid $c2-product-detail-price-container-border-colour;
    }
    @include media-breakpoint-up(lg) {
      border-right: 0;
    }
    @include media-breakpoint-up(xl) {
      border-right: 1px solid $c2-product-detail-price-container-border-colour;
    }
  }
  &__buy-form {
    .BuyFormFieldName:first-child, .BuyFormPrice {
      display: none;
    }

    .c2ecbuyfrm {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }

    .PDOT {
      display: none;
    }

    .BuyFormFieldName {
      font-weight: $c2-product-detail-qty-font-weight;
      text-align: right;
      padding-right: map-get($spacers, 2);
    }

    .BuyFormFieldName, .BuyFormQty {
      // col-6
      flex: 0 0 auto;
      width: 50%;
      margin-bottom: $c2-product-detail-qty-margin-bottom;
    }

    .BuyFormBtn {
      display: flex;
    }

    .c2btnbuy {
      display: inline-block !important; // Used to Override Bootstrap Utils
      margin: 0 $c2-product-detail-buy-button-margin-right 0 0 !important; // Used to Override Bootstrap Utils
      width: auto;
    }

    .c2wlAddToWishList {
      margin: 0 !important; // Used to Override Bootstrap Utils
    }
  }

   &__accessories {
     .BuyFormQty, .BuyFormFieldName, .BuyFormPrice {
       display: none;
     }
   }

  .c2-product-tabs {
    .nav-item {
      flex: 1 1 0px;
    }
    .nav-link {
      font-family: var(--font-family-heading);
      padding-top: $c2-product-tabs-link-padding-y;
      padding-bottom: $c2-product-tabs-link-padding-y;
    }
  }

  .c2-product-collapse {
    .btn-chevron {
      transition: transform $c2-product-collapse-transition;
    }
    .card-header .btn:not(.collapsed) .btn-chevron {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.c2-product-gallery {
  &__thumbnails {
    > *:nth-of-type(#{$c2-product-gallery-num-of-thumbnails}) {
      margin-right: 0!important; // Used to Override Bootstrap Utils
    }
    > *:nth-of-type(#{$c2-product-gallery-num-of-thumbnails}) ~ * {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}
