// Header
// 
// Styles for the headers on all three sites

.c2-header {
  box-shadow: 0px 0.5rem 0.5rem -4px rgba(0, 0, 0, 0.15);
  .shop-by-department-btn:focus {
    outline: 0;
  }
  .shop-by-brand-btn, .shop-by-department-btn, .searchBoxForm {
    min-height: $c2-shop-by-btns-min-height;
    padding: 0;
  }
}
