// Figure with Hover Text
// 
// Regular Figure Image with hover text

$c2figure-with-hover-text-transition: 0.3s ease-in-out;

.c2figure-with-hover-text {

  > img {
    z-index: -1;
  }

  // On Mobile - always display text
  &__text {
    opacity: 0.8;
    top: 0;
    width: subtract(100%, var(--grid-gutter-x));
    height: 100%;
    transition: opacity $c2figure-with-hover-text-transition;
  }

  // On Desktops - show text on hover
  @include media-breakpoint-up('md', $grid-breakpoints) {
    &:hover &__text {
      opacity: 1;
    }

    &__text {
      opacity: 0;
    }
  }
}
