// Figure with Hover Text
// 
// Regular Figure Image with hover text

$c2figure-with-hover-text-transition: 0.3s ease-in-out;

.c2-image-with-hover-text {
  $this: &;

  // On Hover Reveal the Text and add a gradient over the image
  &:hover {
    #{$this}__content {
      opacity: 1;
    }
  }

  &__content {
    z-index: 1;
    opacity: 0.8;
    transition: opacity 0.5s $c2figure-with-hover-text-transition;

    // On Desktop the Text is revealed on Hover
    @include media-breakpoint-up(lg) {
      opacity: 0;
    }
  }

  &__image {
    z-index: 0;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
