// Header
// 
// Custom header for DDC

.c2-header {
  li.lev1 {
    &.basket:after {
      @include font-awesome-pseudo("\f07a");
    }
    &.search:after {
      @include font-awesome-pseudo("\f002");
    }
  }
  a.lev1, span.lev1 {
    &.basket, &.search {
      @include sr-only;
      // Reset Screen Reader text to static, so we can stretch the link
      position: static !important;
    }
  }

  // Header Background
  &:after {
    content: "";
    position: absolute;
    top: -50px;
    width: 100%;
    height: 300%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('c2header-background1.png');
    z-index: -1;
  }

  &__search-icon {
    cursor: pointer;
  }

  // The Search Bar
  &__search-box {
    position: absolute;
    left: calc(var(--grid-gutter-x) / 2);
    width: calc(100% - var(--grid-gutter-x));
    height: 100%;

    &:not(.show) {
      z-index: -1;
    }

    > div {
      height: 100%;
    }

    .SearchBoxSubmit {
      display: none;
    }

    .searchBoxInput {
      width: 100%;
      height: 100%;
    }
  }
}
