// Header Nav
// 
// Custom menu logic for BTC sites

$navbar-link-active-line-width:          80%;
$navbar-link-active-line-height:         2px;
$navbar-link-active-line-transition:     width 0.4s ease-in-out;

$c2header-sticky-navbar-link-color:      $gray-700;
$c2header-sticky-border-color:           $black;
$c2header-sticky-background-color:       $white;
$c2header-sticky-transition:             0.2s ease-in-out;

.navbar-nav:not(.mm-spn) ul.lev1 {
  position: relative;
}

// Level 1 Menu Items
.navbar-nav:not(.mm-spn) li.lev1 {

  &:hover {
    a.lev1,
    span.lev1 {
      &:before {
        width: $navbar-link-active-line-width;
      }
    }

    // Show level 2 if needed
    ul.lev2 {
      display: block;
    }
  }

  a.lev1,
  span.lev1 {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: $navbar-link-active-line-height;
      width: 0%;
      bottom: $nav-link-padding-y / 2;
      // Center it
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondary;
      @include transition($navbar-link-active-line-transition);
    }

    &.cur,
    &.poc {
      &:before {
        width: $navbar-link-active-line-width;
      }
    }
  }
}

.c2-header {
  transition: background-color $c2header-sticky-transition, border-color $c2header-sticky-transition;
  .border-white {
    transition: border-color $c2header-sticky-transition;
  }
  &.c2-header--sticky .non-sticky-logo {
    display: none;
  }
}

.c2-header:not(.c2-header--sticky) {
  background-color: $c2header-sticky-background-color !important; // Override Bootstrap Utils

  .sticky-logo {
    display: none;
  }

  &, .border-white {
    border-color: $c2header-sticky-border-color !important; // Override Bootstrap Utils
  }

  a.lev1,
  span.lev1 {
    color: $c2header-sticky-navbar-link-color !important; // Override Bootstrap Utils
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }
}

@import 'header/second-level';
@import 'header/search-box';
@import 'header/lang-switcher';
