// Header Nav
// 
// Custom menu logic for BTC sites

$navbar-link-active-line-width:          80%;
$navbar-link-active-line-height:         2px;
$navbar-link-active-line-transition:     width 0.4s ease-in-out;

.navbar-nav:not(.mm-spn) ul.lev1 {
  position: relative;
}

// Level 1 Menu Items
.navbar-nav:not(.mm-spn) li.lev1 {

  &:hover {
    a.lev1,
    span.lev1 {
      &:before {
        width: $navbar-link-active-line-width;
      }
    }

    // Show level 2 if needed
    ul.lev2 {
      display: block;
    }
  }

  a.lev1,
  span.lev1 {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: $navbar-link-active-line-height;
      width: 0%;
      bottom: $navbar-link-active-line-height / 2;
      // Center it
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondary;
      @include transition($navbar-link-active-line-transition);
    }
  }
}

@import 'header/second-level';
