// 
// Custom IE Fixes
// 


// Featured CTA Changes
// IE 11 does not vertically align items correctly within flexbox items 
// when min-height is used
// A Height must be given, even just 1px
// https://medium.com/codeart-mk/internet-explorer-hacks-796200e5741c

.c2-featured-cta {
  height: 1px;
}


// Buttons
// Border image doesn't seem to work correctly,
// just remove it.

.btn {
  border-image-source: none!important;
}

@each $color, $value in $theme-colors {
  .rte-btn-#{$color}, .rte-btn-outline-#{$color} {
    border-image-source: none!important;
  }
}


// Header Buttons
// Display flex and center align does not work for an anchor tag in IE
// Make line height of the anchor tag the same as the intended height

.shop-by-brand-btn {
  line-height: $c2-shop-by-btns-min-height;
}


// Basket Layout
// Flex Container inside a table column losesd its relative width
// give it a max-width which is the intended width

.c2-basket-layout__desc {
  max-width: 350px;
}


// Basket Side Bar
// Same reason as above, although this time make the table fixed
// Meaning each column is the same width

#c2-basket-side-bar .c2-basket-layout table,
.c2-checkout-basket .c2-basket-layout table {
  table-layout: fixed;
}


// Product List

// Flex column is buggy in IE, remove it here.
.c2-summary--product, .c2-summary--wishlist {
  > div {
    display: block!important;
  }
}

// Sticky positions don't work in IE
// Allow the filters to extent as much as they need to
.c2-list-filters {
  max-height: none;
}
