// Site Variables
// 
// These Variables override Bootstrap's Defaults
// Or are new Variables

$cms-base-product: 'Ecom';


// Typography

$heading-font-size-base:  0.9rem;
$headings-color:          $col-Primary;
$headings-margin-bottom:  1rem;

$lead-font-size:          1.1rem;
$lead-font-weight:        500;


// Pagination

$c2-pagination-mobile-breakpoint: 'xxl'; // No query


// Extention to Util

$utilities: (
  "cursor": (
    property: cursor,
    values: pointer default,
  ),
);


// Breadcrumbs

$breadcrumb-bg:             transparent;
$breadcrumb-margin-top:     0.5rem;
$breadcrumb-margin-bottom:  1rem;
$breadcrumb-item-padding-x: 1rem;
$breadcrumb-padding-x:      1rem; // Same as container padding


// Pill Tabs

$nav-pills-link-bg:       rgba($col-Primary, 0.2);
$nav-pills-border-radius: 0;


// Navbar

$c2-navbar-img-height: 6.5rem;


// Buttons

$input-btn-font-family:       var(--font-family-heading);

$btn-padding-x:               1.2rem;
$btn-padding-y:               0.6rem;

// The Border Images are set in the Sub Site's "_colour-variables.scss" file
$c2-border-image-slice:       15;
$c2-border-image-width:       20px;
$c2-border-image-outset:      2;
$c2-border-image-repeat:      stretch;


// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);
