// Site Variables
// 
// These Variables override Bootstrap's Defaults
// Or are new Variables


// Color system
$white:    #fff;    // Hasn't changed - but need to use it below
$gray-700: #495057; // Hasn't changed - but need to use it below
$gray-800: #343a40; // Hasn't changed - but need to use it below
$gray-900: #212529; // Hasn't changed - but need to use it below


// Body

$body-color: $gray-700;


// Typography

$font-size-base:          1.1rem;

$line-height-base:        1.6;

$display1-weight:         400;
$display2-weight:         400;
$display3-weight:         400;
$display4-weight:         400;
$display-line-height:     1.1;

$lead-font-size:          $font-size-base * 1.75;
$lead-font-weight:        400;

$headings-margin-bottom:  2rem;
$headings-font-weight:    700;
$headings-color:          $gray-900;


// Grid Columns

$grid-gutter-width: 4rem;


// Buttons

$btn-reset-hide:                        true;
$btn-after-pseudo-element-unicode:      '\f324';
$btn-after-pseudo-element-margin-left:  1rem;


// CMS Button
$c2-reset-btn-hide: true;


// Navbar

$navbar-nav-link-padding-x:         2.5rem;
$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           $white;
$navbar-dark-active-color:          $white;
$navbar-brand-margin-right:         0;
$navbar-padding-y:                  0;
$nav-link-padding-y:                1.5rem;
$nav-link-text-transform:           lowercase;
