// Lang Switcher
// 
// The language switcher for the sub sites

$lang-switcher-flag-width:        50px;
$lang-switcher-text-color:        $white;
$lang-switcher-radius:            0.5rem;

$lang-switcher-hover-text-color:  $body-color;
$lang-switcher-hover-background:  $light;

%lang-not-current-option {
  display: none;

  position: absolute;
  top: 100%;
  padding-top: map-get($spacers, 3) !important; // To override bootstrap util
  border-bottom-left-radius: $lang-switcher-radius;
  border-bottom-right-radius: $lang-switcher-radius;
}

.c2-lang-switcher {
  $this: &;

  &:hover &__option {
    background-color: $lang-switcher-hover-background;

    &__name {
      color: $lang-switcher-hover-text-color;
    }
  }

  &__option__name {
    display: inline-flex;
    align-items: center;
    .c2-header--sticky & {
      color: $lang-switcher-text-color;
    }
    &:after {
      @include font-awesome-pseudo('\f0d7');
      margin-left: map-get($spacers, 2);
    }
  }

  img {
    width: $lang-switcher-flag-width;
  }

  // When on the English Sub Site
  .c2-page--en & {
    &:hover {
      #{$this}__option.de {
        display: block;
      }
    }

    &__option.en {
      border-top-left-radius: $lang-switcher-radius;
      border-top-right-radius: $lang-switcher-radius;
    }

    &__option.de {
      @extend %lang-not-current-option;

      #{$this}__option__name:after {
        display: none;
      }
    }
  } 

  // When on the German Sub Site
  .c2-page--de & {
    &:hover {
      #{$this}__option.en {
        display: block;
      }
    }

    &__option.de {
      border-top-left-radius: $lang-switcher-radius;
      border-top-right-radius: $lang-switcher-radius;
    }

    &__option.en {
      @extend %lang-not-current-option;

      #{$this}__option__name:after {
        display: none;
      }
    }
  } 
}
