// 
// Chewy Vites Custom Banner
// 

$c2-chewy-vites-banner-image-shadow-colour: $white;
$c2-chewy-vites-banner-image-shadow: inset -40px 0 20px -10px $c2-chewy-vites-banner-image-shadow-colour;

.c2-chewy-vites-banner {

  &__image {
    width: 100%;
    left: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($black, 0.1);
    }

    img {
      z-index: -2;
    }
  }

  &__content {
    z-index: 1;
  }

  &__drops img {
    position: absolute;

    width: 50%;
    height: auto;
    top: 0;
    right: 0;
    transform: translate(50%, -50%) rotate(-45deg);
  }

  // On Desktop
  @include media-breakpoint-up(md) {
    &__wrappers {
      position: relative;
    }

    &__image {
      box-shadow: $c2-chewy-vites-banner-image-shadow;
      width: subtract(100%, var(--#{$variable-prefix}gutter-x));

      &:after {
        display: none;
      }
    }

    &__drops img {
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      top: 50%;
      left: 5rem;
      right: auto;
      transform: translateY(-50%);
    }
  }
}
