// 
// Chewy Vites Custom Banner
// 

.chewy-vites-banner {
  background: $white;
  height:70vh;
  position:relative;
  &:before { 
    z-index:15;
  }
  &--height-min-vh-none {
    height:70vh;
    @include media-breakpoint-up(md) {
      max-height:550px;
    }
  }
  &--height-min-vh-10 {
    min-height:10vh;
  }
  &--height-min-vh-20 {
    min-height:20vh;
  }
  &--height-min-vh-30 {
    min-height:30vh;
  }
  &--height-min-vh-40 {
    min-height:40vh;
  }
  &--height-min-vh-50 {
    min-height:50vh;
  }
  &--height-min-vh-60 {
    min-height:60vh;
  }
  &--height-min-vh-70 {
    height:70vh;
  }
  &--height-min-vh-80 {
    min-height:80vh;
  }
  &--height-min-vh-90 {
    min-height:90vh;
  }
  &--height-min-vh-100 {
    min-height:10vh;
  }
  display:flex;
  flex-direction:column;
  align-items:center;
  overflow:hidden;
  justify-content:center;
  .container {
    position:relative;
    z-index:10;
    top:-5vh;
    right:3vw;
    * {
      color:$white;
    }
  }
  &__cutaway {
    position:absolute;
    width:55%;
    padding-top:75%;
    z-index:9;
    border-radius:50%;
    right: -36%;
    top:50%;
    transform:translateY(-55%);
  }
  &__image {
    z-index:5;
    position:absolute;
    height:100%;
    min-height:100%;
    width:66.66%;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    @include media-breakpoint-up(md) {
      max-height:400px;
    } 
    @include media-breakpoint-up(lg) {
      max-height:500px;
    }
  }
}
