#wrap {
  max-width:1920px;
  margin:0px auto;
} 

.c2btnreset {
  display: none !important;
}

@include media-breakpoint-up(md) {
  .nudge-image,
  .overflow-image {
    overflow-y: visible;
    margin: 6rem 0 !important;
  }
  .overflow-image {
    img {
      height: 150%;
      width: 67%;
      top: -25%;
    }
  }
  .nudge-image {
    img {
      height: 120%;
      top: -10%;
    }
  }
}

@media (min-width: 1025px) {
  .overflow-image {
    img {
      height: 166%;
      width: 60%;
      top: -25%;
    }
  }
  .nudge-image {
    img {
      height: 135%;
      top: -10%;
    }
  }
}

.curve {
  position: relative;
  overflow: hidden;
  > * {
    position: relative;
    z-index: 5;
  }
  &:before {
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
    height: 15rem;
    border-radius: 100%;
  }
  &:not(.chewy-vites-banner) {
    &:before {
      z-index:10;
    }
  }
  &--white {
    &:before {
      background: $white;
    }
  }
  &--green {
    height: 7.5rem;
    &:before {
      background: $col-Success;
    }
  }
  &--bottom {
    &:before {
      bottom: -7.5rem;
    }
  }
}

.c2-summary > div {
  position: relative;
  .btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  .c2-summary__image {
    padding: 2rem;
    text-align: center;
    img {
      height: 250px;
      width: auto;
    }
  }
}

ul {
  &.tick-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 1.5rem;
      position: relative;
	  line-height:2rem;
      &:before {
        top: 0;
        left: 0;
        font-size: 1.2rem;
        position: absolute;
        content: '\2713';
        font-weight:700;
        color:$success;
      }
    }
  }
}

.curve-me-up {
	clip-path:  ellipse(100% 75% at 50% 75%);
	overflow:hidden;
	top: -10vh;
    position: relative;
    z-index: 20;
}