//CUSTOM SCSS FOR THIS PROJECT
// 
// Left over styles

.c2-summary > div {
  position: relative;
  .btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  .c2-summary__image {
    padding: 2rem;
    text-align: center;
    img {
      height: 250px;
      width: auto;
    }
  }
}

#navbar-nav li.lev1 a {
  color: $secondary;
  font-size:14px;
}

.btn-primary.c2btnreset,
.c2btnreset.rte-btn-primary,
.btn-primary.c2btncancel,
.c2btncancel.rte-btn-primary,
.btn-primary.c2wlAddToWishList,
.c2wlAddToWishList.rte-btn-primary {
  color: $primary !important;
  &:hover {
    color: $white !important;
  }
}
  
  .vertical-centre-content-in-figure {
    display:flex;
      justify-content:space-between;
      flex-direction:column;
      min-height:280px;
    figcaption {
      display:flex;
      justify-content:space-between;
      flex-direction:column;
      min-height:280px;
    }
  }
