// Site Variables
// 
// These Variables override Bootstrap's Defaults
// Or are new Variables


// Buttons

$btn-font-size:       0.8rem;
$btn-border-radius:   1rem;


// Links

$link-decoration:         none;
$link-hover-decoration:   underline;


// Intergage Logo

$c2-intergage-i-colour: #fff;
