// Mega Menu
// 
// Expandable Mega Menu Container

$c2-mega-menu-max-height:            70vh;
$c2-mega-menu-active-border-bottom:  1px solid $primary;
$c2-mega-menu-slide-in-transition:   max-height .5s ease-in-out, height .5s ease-in-out;

#c2-mega-menu-container {
  left: 0;
  overflow: hidden;
  z-index: $zindex-fixed;

  max-height: 0;
  @include transition($c2-mega-menu-slide-in-transition);

  &.active {
    max-height: $c2-mega-menu-max-height; // Will never be bigger than this
    border-bottom: $c2-mega-menu-active-border-bottom;
  }
}

@import 'shop-by-department';
