// 
// MWU Colours
// 

$secondary:     $col-MWUSecondary;

$breadcrumb-active-color:   $secondary;

$c2-btn-border-images: (
  "primary":    "frame-primary.svg",
  "secondary":  "frame-mwu-secondary.svg",
);
