// 
// WGM Colours
// 

$secondary:     $col-WGMSecondary;

$breadcrumb-active-color:   $secondary;

$c2-btn-border-images: (
  "primary":    "frame-primary.svg",
  "secondary":  "frame-wgm-secondary.svg",
);
