// 
// FAA Colours
// 

$secondary:     $col-FAASecondary;

$breadcrumb-active-color:   $secondary;

$c2-btn-border-images: (
  "primary":    "frame-primary.svg",
  "secondary":  "frame-faa-secondary.svg",
);
